.section-price {
  position: relative;
  padding: 90px 0 100px;
  @include bgImage(".././img/background/price-bg.jpg");

  &::before {
    @extend %overlay;
  }

  /*Desktop Medium*/
  @media (max-width: 1600px) {
    @include bgImage("./../img/background/price-bg-1600.jpg");
  }

  /*Tablet*/
  @media (max-width: 1199px) {
    padding: 50px 0;
    @include bgImage("./../img/background/price-bg-900.jpg");
  }

  /*Mobile*/
  @media (max-width: 899px) {
    padding: 50px 0 41px;
    @include bgImage("./../img/background/price-bg-600.jpg");
  }

  /*Mobile XS*/
  @media (max-width: 599px) {
    padding: 40px 0;
    @include bgImage("./../img/background/price-bg-320.jpg");
  }
}

.section-price__content {
  position: relative;
  z-index: 2;
  text-align: center;

  .title,
  .subtitle {
    color: #fff;
  }
}

.section-price__header {
  margin: 0 0 80px;

  /*Tablet*/
  @media (max-width: 1199px) {
    margin: 0 0 50px;
  }

  /*Mobile*/
  @media (max-width: 899px) {
    margin: 0 0 40px;
  }
}

.section-price__title {
  margin: 0 0 40px;

  /*Tablet*/
  @media (max-width: 1199px) {
    margin: 0 0 20px;
  }

  /*Mobile XS*/
  @media (max-width: 599px) {
    margin: 0 0 10px;
  }
}

.section-price__row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 -15px;

  /*Mobile*/
  @media (max-width: 899px) {
    flex-direction: column;
    margin-top: -30px;
  }
}

.section-price__row > * {
  width: 300px;
  margin: 0 15px;

  /*Tablet*/
  @media (max-width: 1199px) {
    width: 270px;
  }
  /*Mobile*/
  @media (max-width: 899px) {
    width: 300px;
    margin: 30px 0 0;
  }

  /*Mobile XS*/
  @media (max-width: 599px) {
    width: 290px;
  }
}
